/* small divice  */
@media screen and (max-width: 576px) {
  /*  */
  .description {
    font-size: 0.88rem;
  }
  /*  */
  .brand-name a {
    font-size: 1.8rem;
    line-height: 45px;
  }
  .navber,
  .teams {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 0px;
    gap: 15px;
  }
  .nav-links {
    gap: 18px;
  }
  .banner-title {
    font-size: 2.4rem;
  }
  .banner-content {
    max-width: 100%;
    padding-top: 20px;
  }

  /* teams section */
  .team-image-container {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  .out-features {
    margin-left: 0px;
  }

  /* feature-enjoy */
  .feature-enjoy {
    flex-direction: column;
  }

  .feature-enjoy-image,
  .feature-enjoy-content {
    width: 100%;
  }
  .feature-enjoy-image img {
    width: 100%;
    margin: 0;
  }
  .feature-enjoy-image p {
    width: 150px;
    height: 85px;
    padding: 10px;
    gap: 8px;
  }
  .feature-enjoy-image p span {
    font-size: 2rem;
  }
  /* some fact */
  .some-facts > p {
    width: 100%;
  }
  .facts-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 20px 0px;
  }

  /* our sponsor */
  .sponsor-brand-logos{
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding-block: 40px 20px;
  }

}

/* mediam divaise */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
    gap: 30px;
  }
  .out-features {
    max-width: 100%;
    margin-left: 0px;
  }
  /* featur enjoy */
  .feature-enjoy {
    flex-direction: column;
  }
  .feature-enjoy-image,
  .feature-enjoy-content {
    width: 100%;
  }
  .feature-enjoy-image img {
    width: 100%;
    margin: 0;
  }
  /* some fact */
  .some-facts > p {
    width: 100%;
  }
  .facts-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 20px 0px;
  }
  /* our sponsor */
  .sponsor-brand-logos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
   justify-items: center;
  }
}
